<a href="https://colab.research.google.com/github/bruluc81/AIML-Primary/blob/master/Project_3_Bruno_Suresh_Lucas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project Summary
The data is related with direct marketing campaigns of a
Portuguese banking institution. The marketing campaigns
were based on phone calls. Often, more than one contact to
the same client was required, in order to access if the product
(bank term deposit) would be ('yes') or not ('no') subscribed.

## Visual Data Analysis using Excel
1. 45211 rows and 17 columns with the last column as Target Variable. 
2. Age: Age ranges from 18 to 95 years.  There are no null values
3. Job: 12 Job descriptions given including unknown (288 entries).
4. Marital: 3 Marital status with Divorced which includes widowed.
5. Education: 4 education categories with1857 categorized as unknown
6. Default: 815 Credit defaulters with no null values
7. Balance: Balance ranges from approx -8K to +100K 
8. Housing and Loan: Around 55% of the respondents have taken housing loan and 15% have taken personal loan.
9. Day / Month / Duration: Contact details are either Cellular or Telephone. Around 13K records are marked as unknown.  Date and month are added as seperate columns.
10.  Duration: Duration of the call ranges from 0 secs to 1 hour.
11.  Campaign: Number contacts performed ranges from 1 thru 63 contacts per respondent.
12.  pDays: Values ranges from -1 thru 850.  There are 12K records of -1 which seems to be incorrect as this is related to number of days that have passed by.  Need to check this.
13. Previous:  Prior contacts for other campaigns ranges from 0 to 275 with 275 as a single entry.
14. POutcome: 82% of previous outcome is unknown.
15. Target:  Around 73% of the respondednt did not take the term deposit.

In [0]:
# Display Plots or Graphs as required immediately without show() function. 
%matplotlib inline 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression # Import Logistics Regression machine learning library
from sklearn.utils import resample # for resampling in case of down / up sampling requirements
from sklearn.model_selection import train_test_split # Used to split the data into Training and Testing split
from sklearn.neighbors import KNeighborsClassifier #Importing KNN Classifiers 
from sklearn import metrics # calculate accuracy measures and confusion matrix
from sklearn.naive_bayes import GaussianNB # Naive Bayes package from the Library
from sklearn.metrics import roc_curve, auc # to measure the optimal method
from sklearn.metrics import roc_auc_score # to get the ROC AUC score
from sklearn import preprocessing
import seaborn as sns

In [10]:
#from google.colab import files
#uploaded = files.upload()
URL = 'https://raw.githubusercontent.com/bruluc81/AIML-Primary/master/bank-full.csv'
df_loan = pd.read_csv(URL)
df_loan

       age            job   marital  education  ... pdays  previous poutcome Target
0       58     management   married   tertiary  ...    -1         0  unknown     no
1       44     technician    single  secondary  ...    -1         0  unknown     no
2       33   entrepreneur   married  secondary  ...    -1         0  unknown     no
3       47    blue-collar   married    unknown  ...    -1         0  unknown     no
4       33        unknown    single    unknown  ...    -1         0  unknown     no
5       35     management   married   tertiary  ...    -1         0  unknown     no
6       28     management    single   tertiary  ...    -1         0  unknown     no
7       42   entrepreneur  divorced   tertiary  ...    -1         0  unknown     no
8       58        retired   married    primary  ...    -1         0  unknown     no
9       43     technician    single  secondary  ...    -1         0  unknown     no
10      41         admin.  divorced  secondary  ...    -1         0  unknown     no
11      29         admin.    single  secondary  ...    -1         0  unknown     no
12      53     technician   married  secondary  ...    -1         0  unknown     no
13      58     technician   married    unknown  ...    -1         0  unknown     no
14      57       services   married  secondary  ...    -1         0  unknown     no
15      51        retired   married    primary  ...    -1         0  unknown     no
16      45         admin.    single    unknown  ...    -1         0  unknown     no
17      57    blue-collar   married    primary  ...    -1         0  unknown     no
18      60        retired   married    primary  ...    -1         0  unknown     no
19      33       services   married  secondary  ...    -1         0  unknown     no
20      28    blue-collar   married  secondary  ...    -1         0  unknown     no
21      56     management   married   tertiary  ...    -1         0  unknown     no
22      32    blue-collar    single    primary  ...    -1         0  unknown     no
23      25       services   married  secondary  ...    -1         0  unknown     no
24      40        retired   married    primary  ...    -1         0  unknown     no
25      44         admin.   married  secondary  ...    -1         0  unknown     no
26      39     management    single   tertiary  ...    -1         0  unknown     no
27      52   entrepreneur   married  secondary  ...    -1         0  unknown     no
28      46     management    single  secondary  ...    -1         0  unknown     no
29      36     technician    single  secondary  ...    -1         0  unknown     no
...    ...            ...       ...        ...  ...   ...       ...      ...    ...
45181   46    blue-collar   married  secondary  ...   118         3  failure     no
45182   34     technician   married  secondary  ...   187         5  success    yes
45183   70        retired   married    primary  ...    96         7  success     no
45184   63        retired   married  secondary  ...    22         5  success     no
45185   60       services   married   tertiary  ...    92         4  success    yes
45186   59        unknown   married    unknown  ...   104         2  failure     no
45187   32       services    single  secondary  ...    -1         0  unknown    yes
45188   29     management    single  secondary  ...   550         2  success    yes
45189   25       services    single  secondary  ...    92         5  failure     no
45190   32    blue-collar   married  secondary  ...   188         3  success    yes
45191   75        retired  divorced   tertiary  ...   183         1  failure    yes
45192   29     management    single   tertiary  ...    -1         0  unknown    yes
45193   28  self-employed    single   tertiary  ...    33         4  success    yes
45194   59     management   married   tertiary  ...   187         5  failure     no
45195   68        retired   married  secondary  ...   187         6  success    yes
45196   25        student    single  secondary  ...    -1         0  unknown    yes
45197   36     management    single  secondary  ...    -1         0  unknown    yes
45198   37     management   married   tertiary  ...    -1         0  unknown     no
45199   34    blue-collar    single  secondary  ...   530        12    other     no
45200   38     technician   married  secondary  ...    -1         0  unknown    yes
45201   53     management   married   tertiary  ...   184         4  success    yes
45202   34         admin.    single  secondary  ...    -1         0  unknown    yes
45203   23        student    single   tertiary  ...    -1         0  unknown    yes
45204   73        retired   married  secondary  ...    40         8  failure    yes
45205   25     technician    single  secondary  ...    -1         0  unknown    yes
45206   51     technician   married   tertiary  ...    -1         0  unknown    yes
45207   71        retired  divorced    primary  ...    -1         0  unknown    yes
45208   72        retired   married  secondary  ...   184         3  success    yes
45209   57    blue-collar   married  secondary  ...    -1         0  unknown     no
45210   37   entrepreneur   married  secondary  ...   188        11    other     no

[45211 rows x 17 columns]